nav{
    padding: 20px 0;
    position: absolute;
    width: 100%;
    background-color:transparent;
    z-index: 11;
    .nav{
        .img{
            margin-right: 20px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        display: flex;
         justify-content: space-between;
         align-items: center;
.bi-list{
    display: none;
    font-size: 25px;
    font-weight: 900;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 15px;
    i{
        font-size: 15px
    }
    .cart{
        position: relative;
        .five{
            position: absolute;
            top: -9px;
            right:-6px;
            font-size: 12px;
            color: red;
        }
    }

}
.center{

    display: flex;
    justify-content: center;
    align-items: center;   
    gap: 20px;
    .dropdown{
        position: relative;
        &:hover{
            .dropdown-menu{
                transform: scale(1);
                display: block;
            }
        }
        .dropdown-menu{
            position: absolute;
            transition: all 0.5s;
            overflow: hidden;
            transform-origin: top center;
            transform: scale(1, 0);
            display: block;
            border: 0px solid transparent;
            background-color: #ff3368;
            li{
                font-size: 14px;
                background-color: rgb(255, 51, 104);
                text-transform: capitalize;
                padding: 8px 20px !important;
                color: rgb(255, 255, 255) !important;
            }
        }
        }
    }
    li{
        a{
 color: rgb(0, 0, 0);
    font-size: 15px;
    padding: 36px 23px;
    font-family: Poppins, sans-serif;
    text-transform: capitalize;
    line-height: 12px;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.5s ease 0s;
        }
    }
}

    }

    @media screen and (max-width:991px) {
        nav{
            .nav{
                .bi-list{
                    display: block;
                }
                .center{
                    display: none;
                }
            }
        }
            }

            .nav-menu{
                width: 80%;
                height: 230px;
                margin-left: 50px;
                position: absolute;
                left: 0;
                z-index: 1;
              top: -500px;
                transition: all 1.5s ease;
                background-color: white;
                .menu{
                    display: flex;
                    justify-content:flex-start;
                    align-items:flex-start;                    
                    width: 100%;
                    flex-direction: column;
                  position: relative;
                  gap: 10px;
                  top: 50px;
                  .dropdown{
                    position: relative;
                    &:hover{
                        .dropdown-menu{
                            transform: scale(1);
                            display: block;
                        }
                    }
                    .dropdown-menu{
                        position: absolute;
                        transition: all 0.5s;
                        overflow: hidden;
                        transform-origin: top center;
                        transform: scale(1, 0);
                        display: block;
                        border: 0px solid transparent;
                        background-color: #ff3368;
                        z-index: 3;
                        li{
                            font-size: 14px;
                            background-color: rgb(255, 51, 104);
                            text-transform: capitalize;
                            padding: 8px 20px !important;
                            color: rgb(255, 255, 255) !important;
                        }
                    }
                    }
                  li{
                    a{
                        color: rgb(0, 0, 0);
                           font-size: 15px;
                           padding: 36px 23px;
                           font-family: Poppins, sans-serif;
                           text-transform: capitalize;
                           line-height: 12px;
                           font-weight: 400;
                           text-decoration: none;
                           transition: all 0.5s ease 0s;
                               }
                  }
                }
            }