.sect3{
width: 100%;
display: flex;
flex-direction: column;
.dortlu{
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;
img{
    width: 100%;
    height: 50%;
}
.text{
    padding: 10px 20px;
    display: flex;  
    flex-direction: column;
    gap: 10px;


h1{
font-size: x-large;
}
h3{
    font-size: x-large  ;
}
}
}

}