.sect1{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;

.text{
    width: 50%;
    height: 100%;
    h1{
 font-size: 60px;
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .btn_2 {
        display: inline-block;
        width: 180px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        border-radius: 5px;
        background-color: #ff3368;
        font-size: 15px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        color: #fff;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
        background-size: 200% auto;
        text-transform: uppercase;
        box-shadow: -1.717px 8.835px 29.76px 2.24px rgba(255, 51, 104, 0.18);
    }
}
.img{
    width: 50%;
    height: 100%;
    top: -100px;

}
}