* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.con {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 32px;
}

nav {
  padding: 20px 0;
  position: absolute;
  width: 100%;
  background-color: transparent;
  z-index: 11;
}
nav .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav .img {
  margin-right: 20px;
}
nav .nav .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
nav .nav .bi-list {
  display: none;
  font-size: 25px;
  font-weight: 900;
}
nav .nav .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
nav .nav .icon i {
  font-size: 15px;
}
nav .nav .icon .cart {
  position: relative;
}
nav .nav .icon .cart .five {
  position: absolute;
  top: -9px;
  right: -6px;
  font-size: 12px;
  color: red;
}
nav .nav .center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
nav .nav .center .dropdown {
  position: relative;
}
nav .nav .center .dropdown:hover .dropdown-menu {
  transform: scale(1);
  display: block;
}
nav .nav .center .dropdown .dropdown-menu {
  position: absolute;
  transition: all 0.5s;
  overflow: hidden;
  transform-origin: top center;
  transform: scale(1, 0);
  display: block;
  border: 0px solid transparent;
  background-color: #ff3368;
}
nav .nav .center .dropdown .dropdown-menu li {
  font-size: 14px;
  background-color: rgb(255, 51, 104);
  text-transform: capitalize;
  padding: 8px 20px !important;
  color: rgb(255, 255, 255) !important;
}
nav .nav li a {
  color: rgb(0, 0, 0);
  font-size: 15px;
  padding: 36px 23px;
  font-family: Poppins, sans-serif;
  text-transform: capitalize;
  line-height: 12px;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.5s ease 0s;
}

@media screen and (max-width: 991px) {
  nav .nav .bi-list {
    display: block;
  }
  nav .nav .center {
    display: none;
  }
}
.nav-menu {
  width: 80%;
  height: 230px;
  margin-left: 50px;
  position: absolute;
  left: 0;
  z-index: 1;
  top: -500px;
  transition: all 1.5s ease;
  background-color: white;
}
.nav-menu .menu {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  flex-direction: column;
  position: relative;
  gap: 10px;
  top: 50px;
}
.nav-menu .menu .dropdown {
  position: relative;
}
.nav-menu .menu .dropdown:hover .dropdown-menu {
  transform: scale(1);
  display: block;
}
.nav-menu .menu .dropdown .dropdown-menu {
  position: absolute;
  transition: all 0.5s;
  overflow: hidden;
  transform-origin: top center;
  transform: scale(1, 0);
  display: block;
  border: 0px solid transparent;
  background-color: #ff3368;
  z-index: 3;
}
.nav-menu .menu .dropdown .dropdown-menu li {
  font-size: 14px;
  background-color: rgb(255, 51, 104);
  text-transform: capitalize;
  padding: 8px 20px !important;
  color: rgb(255, 255, 255) !important;
}
.nav-menu .menu li a {
  color: rgb(0, 0, 0);
  font-size: 15px;
  padding: 36px 23px;
  font-family: Poppins, sans-serif;
  text-transform: capitalize;
  line-height: 12px;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.5s ease 0s;
}

.sect1 {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sect1 .text {
  width: 50%;
  height: 100%;
}
.sect1 .text h1 {
  font-size: 60px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.sect1 .text .btn_2 {
  display: inline-block;
  width: 180px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 5px;
  background-color: #ff3368;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #fff;
  transition: all 0.4s ease-in-out;
  background-size: 200% auto;
  text-transform: uppercase;
  box-shadow: -1.717px 8.835px 29.76px 2.24px rgba(255, 51, 104, 0.18);
}
.sect1 .img {
  width: 50%;
  height: 100%;
  top: -100px;
}/*# sourceMappingURL=index.css.map */