* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.con {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 32px;
}

a {
  text-decoration: none;
}

nav {
  padding: 20px 0;
  position: absolute;
  width: 100%;
  background-color: transparent;
  z-index: 11;
}
nav .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav .img {
  margin-right: 20px;
}
nav .nav .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
nav .nav .bi-list {
  display: none;
  font-size: 25px;
  font-weight: 900;
}
nav .nav .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
nav .nav .icon i {
  font-size: 15px;
}
nav .nav .icon .cart {
  position: relative;
}
nav .nav .icon .cart .five {
  position: absolute;
  top: -9px;
  right: -6px;
  font-size: 12px;
  color: red;
}
nav .nav .center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
nav .nav .center .dropdown {
  position: relative;
}
nav .nav .center .dropdown:hover .dropdown-menu {
  transform: scale(1);
  display: block;
}
nav .nav .center .dropdown .dropdown-menu {
  position: absolute;
  transition: all 0.5s;
  overflow: hidden;
  transform-origin: top center;
  transform: scale(1, 0);
  display: block;
  border: 0px solid transparent;
  background-color: #ff3368;
}
nav .nav .center .dropdown .dropdown-menu li {
  font-size: 14px;
  background-color: rgb(255, 51, 104);
  text-transform: capitalize;
  padding: 8px 20px !important;
  color: rgb(255, 255, 255) !important;
}
nav .nav li a {
  color: rgb(0, 0, 0);
  font-size: 15px;
  padding: 36px 23px;
  font-family: Poppins, sans-serif;
  text-transform: capitalize;
  line-height: 12px;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.5s ease 0s;
}

@media screen and (max-width: 991px) {
  nav .nav .bi-list {
    display: block;
  }
  nav .nav .center {
    display: none;
  }
}
.nav-menu {
  width: 80%;
  height: 230px;
  margin-left: 50px;
  position: absolute;
  left: 0;
  z-index: 1;
  top: -500px;
  transition: all 1.5s ease;
  background-color: white;
}
.nav-menu .menu {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  flex-direction: column;
  position: relative;
  gap: 10px;
  top: 50px;
}
.nav-menu .menu .dropdown {
  position: relative;
}
.nav-menu .menu .dropdown:hover .dropdown-menu {
  transform: scale(1);
  display: block;
}
.nav-menu .menu .dropdown .dropdown-menu {
  position: absolute;
  transition: all 0.5s;
  overflow: hidden;
  transform-origin: top center;
  transform: scale(1, 0);
  display: block;
  border: 0px solid transparent;
  background-color: #ff3368;
  z-index: 3;
}
.nav-menu .menu .dropdown .dropdown-menu li {
  font-size: 14px;
  background-color: rgb(255, 51, 104);
  text-transform: capitalize;
  padding: 8px 20px !important;
  color: rgb(255, 255, 255) !important;
}
.nav-menu .menu li a {
  color: rgb(0, 0, 0);
  font-size: 15px;
  padding: 36px 23px;
  font-family: Poppins, sans-serif;
  text-transform: capitalize;
  line-height: 12px;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.5s ease 0s;
}

.sect1 {
  width: 100%;
  height: 800px;
}
.sect1 .ikili {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sect1 .ikili .text {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 70px;
  align-items: start;
  justify-content: start;
}
.sect1 .ikili .text h1 {
  font-size: 80px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.sect1 .ikili .text .btn_2 {
  display: inline-block;
  width: 180px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 5px;
  background-color: #ff3368;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #fff;
  transition: all 0.4s ease-in-out;
  background-size: 200% auto;
  text-transform: uppercase;
  box-shadow: -1.717px 8.835px 29.76px 2.24px rgba(255, 51, 104, 0.18);
}
.sect1 .ikili .img {
  width: 60%;
  height: 100%;
  top: -100px;
  padding: 200px 0px;
}

.add {
  width: 100%;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0;
}
.add .con {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.add .con .form {
  display: flex;
  width: 50%;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  flex-direction: column;
  padding: 20px 100px;
  border: 2px solid rgb(235, 235, 235);
}
.add .con .form input {
  outline: none;
}
.add .con .form .img {
  width: 50%;
  height: 100px;
  border: 1px dashed black;
}
.add .con .form .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.add .con .form #submit {
  font-size: 10px;
  padding: 5px 10px;
  background-color: #ecfdff;
  color: #ff3368;
  font-weight: 800;
  border-radius: 5px;
  border: 1px solid #ff3368;
  width: 100%;
}
.add .con .form #submit:hover {
  color: #ecfdff;
  transition: all 0.5s ease;
  background: #ff3368;
  border: 1px solid #ecfdff;
}

.sect2 {
  background-color: white;
  width: 100%;
  padding: 100px 28px;
}
.sect2 .sect21 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 28px;
  width: 100%;
}
.sect2 .sect21 .top {
  text-align: center;
  width: 100%;
}
.sect2 .sect21 .top h1 {
  font-size: 36px;
  color: #000;
}
.sect2 .sect21 .bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.sect2 .sect21 .bottom .cart1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.sect2 .sect21 .bottom .cart1 .cart11 {
  display: flex;
  justify-content: start;
  position: relative;
  width: 58%;
  background-color: #ecfdff;
  padding: 150px 0px;
  z-index: 1;
}
.sect2 .sect21 .bottom .cart1 .cart11 .Now {
  z-index: 22;
  position: absolute;
  font-size: 25px;
  font-weight: 600;
  left: 0px;
  bottom: -150px;
  transition: all 0.5s ease;
  opacity: 0;
  color: #ff3368;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.sect2 .sect21 .bottom .cart1 .cart11:hover .Now {
  opacity: 1;
}
.sect2 .sect21 .bottom .cart1 .cart11 .text {
  position: relative;
  top: -95px;
  left: 40px;
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sect2 .sect21 .bottom .cart1 .cart11 .text h1 {
  font-size: 16px;
  font-weight: 700;
}
.sect2 .sect21 .bottom .cart1 .cart11 .text p {
  font-size: 23px;
  font-weight: 700;
}
.sect2 .sect21 .bottom .cart1 .cart11 .img {
  width: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.sect2 .sect21 .bottom .cart1 .cart11 .img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sect2 .sect21 .bottom .cart1 .cart121 {
  display: flex;
  justify-content: start;
  width: 40%;
  z-index: 1;
  padding: 150px 0px;
  background-color: #ecfdff;
  position: relative;
}
.sect2 .sect21 .bottom .cart1 .cart121 .Now {
  z-index: 22;
  position: absolute;
  font-size: 25px;
  font-weight: 600;
  left: 0px;
  bottom: -150px;
  transition: all 0.5s ease;
  opacity: 0;
  color: #ff3368;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.sect2 .sect21 .bottom .cart1 .cart121:hover .Now {
  opacity: 1;
}
.sect2 .sect21 .bottom .cart1 .cart121 .text {
  position: relative;
  top: -95px;
  left: 40px;
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sect2 .sect21 .bottom .cart1 .cart121 .text h1 {
  font-size: 16px;
  font-weight: 700;
}
.sect2 .sect21 .bottom .cart1 .cart121 .text p {
  font-size: 23px;
  font-weight: 700;
}
.sect2 .sect21 .bottom .cart1 .cart121 .img {
  width: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.sect2 .sect21 .bottom .cart1 .cart121 .img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sect2 .sect21 .bottom .cart12 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.sect2 .sect21 .bottom .cart12 .cart11 {
  display: flex;
  justify-content: start;
  position: relative;
  width: 58%;
  background-color: #ecfdff;
  padding: 150px 0px;
  z-index: 1;
}
.sect2 .sect21 .bottom .cart12 .cart11 .Nov {
  position: absolute;
  font-size: 25px;
  font-weight: 600;
  left: 0;
  bottom: -150px;
  transition: all 0.5s ease;
  opacity: 0;
  color: #ff3368;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  z-index: 33332;
}
.sect2 .sect21 .bottom .cart12 .cart11:hover .Now {
  opacity: 1;
}
.sect2 .sect21 .bottom .cart12 .cart11 .text {
  position: relative;
  top: -95px;
  left: 40px;
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sect2 .sect21 .bottom .cart12 .cart11 .text h1 {
  font-size: 16px;
  font-weight: 700;
}
.sect2 .sect21 .bottom .cart12 .cart11 .text p {
  font-size: 23px;
  font-weight: 700;
}
.sect2 .sect21 .bottom .cart12 .cart11 .img {
  width: 80%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.sect2 .sect21 .bottom .cart12 .cart11 .img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sect2 .sect21 .bottom .cart12 .cart121 {
  display: flex;
  justify-content: start;
  width: 40%;
  z-index: 1;
  padding: 150px 0px;
  background-color: #ecfdff;
  position: relative;
}
.sect2 .sect21 .bottom .cart12 .cart121 .Now {
  position: absolute;
  font-size: 25px;
  font-weight: 600;
  left: 0;
  bottom: -150px;
  transition: all 0.5s ease;
  opacity: 0;
  color: #ff3368;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  z-index: 22;
}
.sect2 .sect21 .bottom .cart12 .cart121:hover .Now {
  opacity: 1;
}
.sect2 .sect21 .bottom .cart12 .cart121 .text {
  position: relative;
  top: -95px;
  left: 40px;
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sect2 .sect21 .bottom .cart12 .cart121 .text h1 {
  font-size: 16px;
  font-weight: 700;
}
.sect2 .sect21 .bottom .cart12 .cart121 .text p {
  font-size: 23px;
  font-weight: 700;
}
.sect2 .sect21 .bottom .cart12 .cart121 .img {
  width: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.sect2 .sect21 .bottom .cart12 .cart121 .img img {
  background-position: center;
  background-size: cover;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .sect2 .sect21 .bottom .cart1 .cart11 {
    height: 340px;
  }
  .sect2 .sect21 .bottom .cart1 .cart11 .text {
    width: 90%;
    left: 15px;
  }
  .sect2 .sect21 .bottom .cart1 .cart11 .img {
    left: 37px;
    width: 65%;
  }
  .sect2 .sect21 .bottom .cart1 .cart121 {
    height: 340px;
  }
  .sect2 .sect21 .bottom .cart1 .cart121 .text {
    width: 90%;
    left: 15px;
  }
  .sect2 .sect21 .bottom .cart1 .cart121 .img {
    width: 49%;
    left: 56px;
  }
  .sect2 .sect21 .bottom .cart12 .cart11 {
    height: 340px;
  }
  .sect2 .sect21 .bottom .cart12 .cart11 .text {
    width: 90%;
    left: 15px;
  }
  .sect2 .sect21 .bottom .cart12 .cart11 .img {
    left: 2px;
    width: 100%;
  }
  .sect2 .sect21 .bottom .cart12 .cart121 {
    height: 340px;
  }
  .sect2 .sect21 .bottom .cart12 .cart121 .text {
    width: 90%;
    left: 15px;
  }
  .sect2 .sect21 .bottom .cart12 .cart121 .img {
    width: 60%;
    left: 56px;
  }
}
@media screen and (max-width: 576px) {
  .sect2 .sect21 .bottom .cart1 {
    gap: 30px;
    flex-direction: column;
  }
  .sect2 .sect21 .bottom .cart1 .cart11 {
    width: 100%;
  }
  .sect2 .sect21 .bottom .cart1 .cart11 .text {
    top: -131px;
  }
  .sect2 .sect21 .bottom .cart1 .cart11 .img {
    width: 42%;
    bottom: 0;
    left: 120px;
  }
  .sect2 .sect21 .bottom .cart1 .cart121 {
    width: 100%;
  }
  .sect2 .sect21 .bottom .cart1 .cart121 .text {
    top: -131px;
  }
  .sect2 .sect21 .bottom .cart1 .cart121 .img {
    width: 30%;
    bottom: 0;
    left: 140px;
  }
  .sect2 .sect21 .bottom .cart12 {
    flex-direction: column;
    gap: 30px;
  }
  .sect2 .sect21 .bottom .cart12 .cart11 {
    width: 100%;
  }
  .sect2 .sect21 .bottom .cart12 .cart11 .text {
    top: -131px;
  }
  .sect2 .sect21 .bottom .cart12 .cart11 .img {
    width: 82%;
    bottom: 0;
    left: 40px;
  }
  .sect2 .sect21 .bottom .cart12 .cart121 {
    width: 100%;
  }
  .sect2 .sect21 .bottom .cart12 .cart121 .text {
    top: -131px;
  }
  .sect2 .sect21 .bottom .cart12 .cart121 .img {
    width: 42%;
    bottom: 0;
    left: 120px;
  }
}
.sect3 {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
}
.sect3 .dortlu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sect3 .dortlu img {
  width: 100%;
  height: 50%;
}/*# sourceMappingURL=index.css.map */