.sect2 {
  background-color: white;
  width: 100%;
  padding: 100px 28px;
}
.sect2 .sect21 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 28px;
  width: 100%;
}
.sect2 .sect21 .top {
  text-align: center;
  width: 100%;
}
.sect2 .sect21 .top h1 {
  font-size: 36px;
  color: #000;
}
.sect2 .sect21 .bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.sect2 .sect21 .bottom .cart1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.sect2 .sect21 .bottom .cart1 .cart11 {
  display: flex;
  justify-content: start;
  position: relative;
  width: 58%;
  background-color: #ecfdff;
  padding: 150px 0px;
  z-index: 1;
}
.sect2 .sect21 .bottom .cart1 .cart11 .exp {
  z-index: 22;
  position: absolute;
  font-size: 25px;
  font-weight: 600;
  left: 0px;
  bottom: -150px;
  transition: all 0.5s ease;
  opacity: 0;
  color: #ff3368;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.sect2 .sect21 .bottom .cart1 .cart11:hover .exp {
  opacity: 1;
}
.sect2 .sect21 .bottom .cart1 .cart11 .text {
  position: relative;
  top: -95px;
  left: 40px;
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sect2 .sect21 .bottom .cart1 .cart11 .text h1 {
  font-size: 16px;
  font-weight: 700;
}
.sect2 .sect21 .bottom .cart1 .cart11 .text p {
  font-size: 23px;
  font-weight: 700;
}
.sect2 .sect21 .bottom .cart1 .cart11 .img {
  width: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.sect2 .sect21 .bottom .cart1 .cart11 .img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sect2 .sect21 .bottom .cart1 .cart121 {
  display: flex;
  justify-content: start;
  width: 40%;
  z-index: 1;
  padding: 150px 0px;
  background-color: #ecfdff;
  position: relative;
}
.sect2 .sect21 .bottom .cart1 .cart121 .exp {
  z-index: 22;
  position: absolute;
  font-size: 25px;
  font-weight: 600;
  left: 0px;
  bottom: -150px;
  transition: all 0.5s ease;
  opacity: 0;
  color: #ff3368;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.sect2 .sect21 .bottom .cart1 .cart121:hover .exp {
  opacity: 1;
}
.sect2 .sect21 .bottom .cart1 .cart121 .text {
  position: relative;
  top: -95px;
  left: 40px;
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sect2 .sect21 .bottom .cart1 .cart121 .text h1 {
  font-size: 16px;
  font-weight: 700;
}
.sect2 .sect21 .bottom .cart1 .cart121 .text p {
  font-size: 23px;
  font-weight: 700;
}
.sect2 .sect21 .bottom .cart1 .cart121 .img {
  width: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.sect2 .sect21 .bottom .cart1 .cart121 .img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sect2 .sect21 .bottom .cart12 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.sect2 .sect21 .bottom .cart12 .cart11 {
  display: flex;
  justify-content: start;
  position: relative;
  width: 58%;
  background-color: #ecfdff;
  padding: 150px 0px;
  z-index: 1;
}
.sect2 .sect21 .bottom .cart12 .cart11 .exp {
  position: absolute;
  font-size: 25px;
  font-weight: 600;
  left: 0;
  bottom: -150px;
  transition: all 0.5s ease;
  opacity: 0;
  color: #ff3368;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  z-index: 33332;
}
.sect2 .sect21 .bottom .cart12 .cart11:hover .exp {
  opacity: 1;
}
.sect2 .sect21 .bottom .cart12 .cart11 .text {
  position: relative;
  top: -95px;
  left: 40px;
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sect2 .sect21 .bottom .cart12 .cart11 .text h1 {
  font-size: 16px;
  font-weight: 700;
}
.sect2 .sect21 .bottom .cart12 .cart11 .text p {
  font-size: 23px;
  font-weight: 700;
}
.sect2 .sect21 .bottom .cart12 .cart11 .img {
  width: 80%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.sect2 .sect21 .bottom .cart12 .cart11 .img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sect2 .sect21 .bottom .cart12 .cart121 {
  display: flex;
  justify-content: start;
  width: 40%;
  z-index: 1;
  padding: 150px 0px;
  background-color: #ecfdff;
  position: relative;
}
.sect2 .sect21 .bottom .cart12 .cart121 .exp {
  position: absolute;
  font-size: 25px;
  font-weight: 600;
  left: 0;
  bottom: -150px;
  transition: all 0.5s ease;
  opacity: 0;
  color: #ff3368;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  z-index: 22;
}
.sect2 .sect21 .bottom .cart12 .cart121:hover .exp {
  opacity: 1;
}
.sect2 .sect21 .bottom .cart12 .cart121 .text {
  position: relative;
  top: -95px;
  left: 40px;
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sect2 .sect21 .bottom .cart12 .cart121 .text h1 {
  font-size: 16px;
  font-weight: 700;
}
.sect2 .sect21 .bottom .cart12 .cart121 .text p {
  font-size: 23px;
  font-weight: 700;
}
.sect2 .sect21 .bottom .cart12 .cart121 .img {
  width: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.sect2 .sect21 .bottom .cart12 .cart121 .img img {
  background-position: center;
  background-size: cover;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .sect2 .sect21 .bottom .cart1 .cart11 {
    height: 340px;
  }
  .sect2 .sect21 .bottom .cart1 .cart11 .text {
    width: 90%;
    left: 15px;
  }
  .sect2 .sect21 .bottom .cart1 .cart11 .img {
    left: 37px;
    width: 65%;
  }
  .sect2 .sect21 .bottom .cart1 .cart121 {
    height: 340px;
  }
  .sect2 .sect21 .bottom .cart1 .cart121 .text {
    width: 90%;
    left: 15px;
  }
  .sect2 .sect21 .bottom .cart1 .cart121 .img {
    width: 49%;
    left: 56px;
  }
  .sect2 .sect21 .bottom .cart12 .cart11 {
    height: 340px;
  }
  .sect2 .sect21 .bottom .cart12 .cart11 .text {
    width: 90%;
    left: 15px;
  }
  .sect2 .sect21 .bottom .cart12 .cart11 .img {
    left: 2px;
    width: 100%;
  }
  .sect2 .sect21 .bottom .cart12 .cart121 {
    height: 340px;
  }
  .sect2 .sect21 .bottom .cart12 .cart121 .text {
    width: 90%;
    left: 15px;
  }
  .sect2 .sect21 .bottom .cart12 .cart121 .img {
    width: 60%;
    left: 56px;
  }
}
@media screen and (max-width: 576px) {
  .sect2 .sect21 .bottom .cart1 {
    gap: 30px;
    flex-direction: column;
  }
  .sect2 .sect21 .bottom .cart1 .cart11 {
    width: 100%;
  }
  .sect2 .sect21 .bottom .cart1 .cart11 .text {
    top: -131px;
  }
  .sect2 .sect21 .bottom .cart1 .cart11 .img {
    width: 42%;
    bottom: 0;
    left: 120px;
  }
  .sect2 .sect21 .bottom .cart1 .cart121 {
    width: 100%;
  }
  .sect2 .sect21 .bottom .cart1 .cart121 .text {
    top: -131px;
  }
  .sect2 .sect21 .bottom .cart1 .cart121 .img {
    width: 30%;
    bottom: 0;
    left: 140px;
  }
  .sect2 .sect21 .bottom .cart12 {
    flex-direction: column;
    gap: 30px;
  }
  .sect2 .sect21 .bottom .cart12 .cart11 {
    width: 100%;
  }
  .sect2 .sect21 .bottom .cart12 .cart11 .text {
    top: -131px;
  }
  .sect2 .sect21 .bottom .cart12 .cart11 .img {
    width: 82%;
    bottom: 0;
    left: 40px;
  }
  .sect2 .sect21 .bottom .cart12 .cart121 {
    width: 100%;
  }
  .sect2 .sect21 .bottom .cart12 .cart121 .text {
    top: -131px;
  }
  .sect2 .sect21 .bottom .cart12 .cart121 .img {
    width: 42%;
    bottom: 0;
    left: 120px;
  }
}/*# sourceMappingURL=sect2.css.map */